footer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: 600;
    background-color: #202027;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

footer div {
    margin: 0.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    font-size: 0.8rem; 
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.media-icons {
    height: 1rem; 
}





@media screen and (max-width: 428px) {


}