footer{
    font-weight: 600;
    background-color: #202027;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    bottom: 0;
    div{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        display: flex;
        gap: 0.5rem;
    }
}