<div class="blue-circle"></div>
<h2>Join the <span>fun.</span></h2>
<div class="pink-circle"></div>
<form>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email-input" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" required>
    </div>
    <button type="submit">Join now</button>

</form>
<app-footer></app-footer>
